**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.py#
**/*.py~
**/*.pyc
.env.example
.pre-commit-config.yaml
.tool-versions
.venv
BASE_DIR
ci_dir.py
compose*
csv/
docker-compose*
Dockerfile*
gitleaks*
img/
justfile
nba_all_elo.csv
poetry.lock
pyproject.toml
README.md
